{% load static%}    
{% include "base.html" %}
<!-- En este archivo HTML se crea la tabla de clientes, la cual será heredada en la página de clientes. En ella se encontrarán los clientes que se encuentran en la base de datos.-->
{% block content %}
    <!-- Mensajes de error o éxito. -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-3">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div id="tablas-css">
        <link type="text/css" href='{% static "css/tablas.css" %}' rel="stylesheet"/>
        <!-- Título de la tabla. -->
        <div id="titulo-modelo">
            <h1>CLIENTES</h1>
        </div>
        <!-- Formulario para subir el archivo Excel -->
        <div class="row mb-3">
            <div class="col-md-4">
                <form method="POST" enctype="multipart/form-data" action="{% url 'upload_excel_clientes' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="file" class="form-label">Subir archivo Excel:</label>
                        <input type="file" name="file" class="form-control" accept=".xlsx, .xls" required>
                    </div>
                    <div class="d-flex " style="gap: 5px;">
                        <button type="submit" class="btn btn-primary">Subir archivo</button>
                        <a href="{% static 'xlsx/clientes.xlsx' %}" class="btn btn-outline-success">Descargar Formato de Excel</a>
                    </div>
                </form>
            </div>          
        </div>
        <!-- Botón para eliminar. -->
        <div class="col d-grid gap-2 d-md-flex">
            <button id="eliminar-seleccion" type="button" class="btn btn-danger">Eliminar Selección</button>
        </div>
        <!-- Contenedor principal con opciones de edición y añadir cliente. -->
        <div class="a">
            <div class="row align-items-end">
                <div class="col">
                    <div id="ediciones">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                    </div>
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewcliente">
                        Añade un Cliente
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addnewcliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <!-- Formulario para añadir un cliente. -->
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>RUT</label>
                            <input type="text" id="rut" class="form-control" placeholder="12345678K"/>
                        </div>        
                        <div class="mb-3">
                            <label>Nombre</label>
                            <input type="text" id="nombre" class="form-control" placeholder="Nombre Usuario"/>
                        </div>

                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" id="email" class="form-control" placeholder="usuario@email.com"/>
                        </div>
                        <div class="mb-3">
                            <label for="comuna">Comuna</label>
                            <input id="comuna" class="form-control" placeholder="usuario@email.com">
                        </div>
                        <div class="mb-3">
                            <label>Calle</label>
                            <input type="text" id="calle" class="form-control" placeholder="Ejemplo calle 123"/>
                        </div>
                        <div class="mb-3">
                            <label>Casa</label>
                            <input type="text" id="numero_de_casa" class="form-control" placeholder="1111"/>
                        </div>
                        <div class="mb-3">
                            <label>Telefono (+56)</label>
                            <input type="number" id="telefono" class="form-control" maxlength="9" placeholder="123456789"/>
                        </div>
                    </form>
                </div>
                <!-- Botones para guardar o cancelar. -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="submit">Guardar cambios</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Inicio de la tabla. -->
        <table id="table" summary="tabla cliente" class="table table-bordered table-hover dt-responsive">
            <thead>    
            <tr class="listado">   
                <!-- Encabezados. -->
                <th> RUT </th>
                <th> NOMBRE </th>     
                <th> EMAIL</th>
                <th> COMUNA </th>
                <th> CALLE </th>  
                <th> CASA </th>
                <th> TELÉFONO </th>
                <th> SEL </th>
            </tr>
            </thead>
            <tbody>        
                <!-- Ciclo para llenar la tabla con los datos de la base de datos. -->
                {% for cliente in clientes %}
                <tr class="listado">
                    <td>{{ cliente.rut }}</td>
                    <td class="editable" data-rut="{{ cliente.rut }}" data-type="nombre">{{ cliente.nombre }}</td>
                    
                    <td class="editable" data-rut="{{ cliente.rut }}" data-type="email">{{ cliente.email }}</td>
                    <td class="editable" data-rut="{{ cliente.rut }}" data-type="comuna">{{ cliente.comuna }}</td>
                    <td class="editable" data-rut="{{ cliente.rut }}" data-type="calle">{{ cliente.calle }}</td>
                    <td class="editable" data-rut="{{ cliente.rut }}" data-type="numero_de_casa">{{ cliente.numero_de_casa }}</td>
                    <td class="editable" data-rut="{{ cliente.rut }}" data-type="telefono">{{ cliente.telefono }}</td>
                    <td>
                        <input type="checkbox" data-rut="{{ cliente.rut }}" name="seleccionar" id="seleccionar">
                    </td>
                </tr> 
                {% endfor %}    
            </tbody>
        </table>
        <script type='text/javascript' src='{% static "js/cliente.js" %}'></script>
        <script type='text/javascript' src='{% static "js/tablas.js" %}'></script>
    </div>
{% endblock %}