{% load static%}  
{% include "base.html" %}   
<!DOCTYPE html> 
<html>
 <link type="text/css" href='{% static "css/homebutton.css" %}' rel="stylesheet"/>
    <body>
        <br>
        <h4>Accesos Directos</h4>
        <div class="contenedor-daccess"><!--Contenedor de accesos directos-->
            <ul>
                <a id="b001" href="/proveedor" class="boton-daccess"><img src="{% static 'images/user.png' %}" alt="" width="30" height="30"></a><!--Clientes-->
                <a id="b002" href="/producto" class="boton-daccess"><img src="{% static 'images/glass.png' %}" alt=""width="30" height="30"></a><!--Productos-->
                <a id="b003" href="/venta" class="boton-daccess"><img src="{% static 'images/cash.png' %}" alt=""width="30" height="30"></a><!--Ventas-->
                <a id="b004" href="/Inventario_Y_Stock" class="boton-daccess"><img src="{% static 'images/box.png' %}" alt=""width="30" height="30"></a><!--Inventario-->
                <a id="b005" href="#" class="boton-daccess"><img src="{% static 'images/hand.png' %}" alt=""width="30" height="30"></a><!--Proveedores-->
                <a id="b006" href="/compra_proveedor" class="boton-daccess"><img src="{% static 'images/ticket.png' %}" alt=""width="30" height="30"></a><!--Compras-->
            </ul>
        </div>
        
    </body>
</html>
