{% load static %}
<!DOCTYPE html>
<html>
    <link type="text/css" href='{% static "css/navbar.css" %}' rel="stylesheet"/>
    <body>
        <ul id="puntos_navbar">
            <a class="logo" href="/">
                <img class="site-logo" src="{% static 'images/logo.png' %}" alt="Logo" width="160" height="50" role="presentation">
            </a>
            <li id="search-container">
                <form id="search-form" onsubmit="redirectToPage(event)">
                    <input type="text" placeholder="Buscar Módulo" id="search-input">
                </form>
            </li>
            <li class="notificacion-con-burbuja">
                {% if notificaciones_activas %}
                    <img id="burbuja" src="{% static 'images/notification-circlesvg.svg' %}" alt="Logo" width="160" height="50" role="presentation"/>
                {% endif %}
                <a href="" class="notifications-button" id="notifications-button">
                    <img class="site-logo" src="{% static 'images/notificaciones.svg' %}" alt="Logo" width="160" height="50" role="presentation">
                </a>
                <div id="notifications-dropdown" class="notifications-dropdown" >
                    <ul> 
                        <span id="titulo-notificacion">Inventario Insuficiente ultimos 7 días</span>
                        
                        {% if notificaciones_activas %}
                            {% for notificacion in notificaciones_activas %}
                                <li>ID inventario {{ notificacion.id_inventario.id_inventario }}</li>
                            {% endfor %}
                        {% else %}
                            <li>No tienes notificaciones activas</li>
                        {% endif %}
                        <!-- Botón para ver todas las notificaciones, fuera del bloque if -->
                        <li class="view-all-notifications">
                            <a href="/notificaciones">Ver todas las notificaciones</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/logout" class="logout-button">
                    <img class="site-logo" src="{% static 'images/Log_Out_Buton.png' %}" alt="Logo" width="160" height="50" role="presentation">
                </a>
            </li>
        </ul>
        <script type='text/javascript' src='{% static "js/navbar.js" %}'></script>
    </body>
</html>
