{% load static %}
{% include "base.html" %}
{% block content %}
<div id="tablas-css">
    <link type="text/css" href='{% static "css/tablas.css" %}' rel="stylesheet"/>
    <div id="titulo-modelo">
        <h1>VENICIMIENTO ORDEN DE COMPRA</h1>
    </div>
    <div class="col d-grid gap-2 d-md-flex">
        <button id="eliminar-seleccion" type="button" class="btn btn-danger">Eliminar Selección</button>
    </div>
    <table id="table" summary="tabla notificaciones" class="table table-bordered table-hover dt-responsive">
        <thead>    
        <tr class="listado">   
            <th>OC</th>
            <th>FECHA VENCIMIENTO</th>
            <th>STATUS</th>
            <th>FECHA ALERTA</th>
            <th>SEL</th>
        </tr>
        </thead>
        <tbody>        
            {% for alerta in alertas_de_fecha_vencimiento %}
            <tr class="listado">
                <td>{{ alerta.OC }}</td>
                <td>{{ alerta.fecha_vencimiento }}</td>
                <td>{{ alerta.status }}</td>
                <td>{{ alerta.fecha_alerta }}</td>
                <td>
                    <input type="checkbox" data-OC="{{ alerta.OC }}" name="seleccionar" id="seleccionar">
                </td>
            </tr> 
            {% endfor %}    
        </tbody>
    </table>
    <script type='text/javascript' src='{% static "js/notificaciones_fecha_vencimiento.js" %}'></script>
</div>
{% endblock %}
