{% load static %}
{% include "base.html" %}
{% block content %}
<div id="tablas-css">
    <link type="text/css" href='{% static "css/tablas.css" %}' rel="stylesheet"/>
    <div id="titulo-modelo">
        <h1>NOTIFICACIONES</h1>
    </div>
    <table id="table" summary="tabla notificaciones" class="table table-bordered table-hover dt-responsive">
        <thead>    
        <tr class="listado">   
            <th>ID Inventario</th>
            <th>SKU</th>
            <th>Fecha Alerta</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>        
            {% for alerta in alertas_stock %}
            <tr class="listado">
                <td>{{ alerta.id_inventario.id_inventario }}</td>
                <td>{{ alerta.id_inventario.SKU.SKU }}</td>
                <td>{{ alerta.fecha_alerta }}</td>
                <td>{{ alerta.stock }}</td>
            </tr> 
            {% endfor %}    
        </tbody>
    </table>
    <script type='text/javascript' src='{% static "js/notificaciones.js" %}'></script>
</div>
{% endblock %}
