{% load static%}    
{% include "base.html" %}


{% block content %}
    <h1>Editar Producto</h1>
    <div>
        <h2>AÑADIR PRODUCTO O MODIFICAR PRODUCTO</h2>
        <form method="post" action="{url 'ajuste_producto'}">
            <h3>Si existe el SKU correspondiente entonces sobreescribe como nuevo producto</h3>
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" id="InputSku" aria-describedby="skuHelp" placeholder="Ingresar SKU">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="InputTipo" aria-describedby="tipoHelp" placeholder="Ingresar Tipo">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="InputViña" aria-describedby="viñaHelp" placeholder="Ingresar Viña">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="InputCepa" aria-describedby="cepaHelp" placeholder="Ingresar Cepa">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="InputNombreDelProducto" aria-describedby="nombreProductoHelp" placeholder="Ingresar Nombre del Producto">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="InputCosecha" aria-describedby="cosechaHelp" placeholder="Ingresar el Año Cosecha">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div>
        <h2>ELIMINAR PRODUCTO</h2>
        <form method="post" action="{url 'ajuste_producto'}">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" id="InputSku" aria-describedby="skuHelp" placeholder="Ingresar SKU">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    
    
{% endblock %}
