{% load static%}    
{% include "base.html" %}
<!-- En este archivo HTML se crea la tabla de productos, la cual será heredada en la página de productos. En ella se encontrarán los productos que se encuentran en la base de datos.-->
{% block content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-3">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div id="productos">
        <link type="text/css" href='{% static "css/producto.css" %}' rel="stylesheet"/>
        <div id="titulo-modelo">
            <h1>PRODUCTOS</h1>
        </div>
        <!-- Formulario para subir el archivo Excel -->
        <div class="row mb-3">
            <div class="col-md-4">
                <form method="POST" enctype="multipart/form-data" action="{% url 'upload_excel_productos' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="file" class="form-label">Subir archivo Excel:</label>
                        <input type="file" name="file" class="form-control" accept=".xlsx, .xls" required>
                    </div>
                    <div class="d-flex " style="gap: 5px;">
                        <button type="submit" class="btn btn-primary">Subir archivo</button>
                        <a href="{% static 'xlsx/Producto.xlsx' %}" class="btn btn-outline-success">Descargar Formato de Excel</a>
                    </div>
                </form>
            </div>          
        </div>
        <!-- Botón para eliminar. -->
        <div class="col d-grid mb-3 gap-2 d-md-flex">
            <button id="eliminar-seleccion" type="button" class="btn btn-danger">Eliminar Selección</button>
        </div>
        <!-- Contenedor principal con opciones de edición y añadir producto. -->
        <div class="a ">
            <div class="column align-items-end">
                <div class="col">
                    <div id="ediciones">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                    </div>
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewproducto">
                        Añade un producto
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addnewproducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Producto</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <!-- Formulario para añadir un producto. -->
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>SKU</label>
                               <input type="text" id="SKU" class="form-control"/>
                        </div>        
                        <div class="mb-3">
                            <label>Tipo de producto</label>
                            <input type="text" id="tipo-producto" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Viña</label>
                            <input type="text" id="viña" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Cepa</label>
                            <input type="text" id="cepa" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Nombre vino</label>
                            <input type="text" id="nombre-producto" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Cosecha</label>
                            <input type="number" id="cosecha" class="form-control"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" id="submit">Guardar cambios</button>
                </div>
              </div>
            </div>
        </div>
        <!-- Inicio de la tabla. -->  
        <table id="table" summary="tabla producto" class="table table-bordered table-hover dt-responsive">
            <thead>    
            <!-- Encabezados. -->
            <tr class="listado"> 
                <th> SKU </th>
                <th> TIPO </th>     
                <th> VIÑA</th>
                <th> CEPA </th>
                <th> NOMBRE VINO </th>  
                <th> COSECHA </th>
                <th> SEL </th>
            </tr>
            </thead>
            <tbody>        
                <!-- Ciclo para llenar la tabla con los datos de la base de datos. -->
                {% for producto in productos %}
                <tr class="listado">
                    <td>{{ producto.SKU }}</td>
                    <td class="editable" data-sku="{{ producto.SKU }}" data-type="tipo_producto">{{ producto.tipo_producto }}</td>
                    <td class="editable" data-sku="{{ producto.SKU }}" data-type="cepa">{{ producto.cepa }}</td>
                    <td class="editable" data-sku="{{ producto.SKU }}" data-type="cosecha">{{ producto.cosecha }}</td>
                    <td class="editable" data-sku="{{ producto.SKU }}" data-type="nombre_producto">{{ producto.nombre_producto }}</td>
                    <td class="editable" data-sku="{{ producto.SKU }}" data-type="viña">{{ producto.viña }}</td>
                    <td>
                        <input type="checkbox" data-sku="{{ producto.SKU }}" name="seleccionar" id="seleccionar">
                    </td>
                </tr> 
                {% endfor %}    
            </tbody>
        </table>
        <script type='text/javascript' src='{% static "js/producto.js" %}'></script>
    </div>
{% endblock %}