{% load static%}    
{% include "base.html" %}
{% block content %}
    <div id="tablas-css">
        <link type="text/css" href='{% static "css/tablas.css" %}' rel="stylesheet"/>
        <div id="titulo-modelo">
            <h1>VENTAS</h1>
        </div>
        <div class="col d-grid gap-2 d-md-flex">
            <button id="eliminar-seleccion" type="button" class="btn btn-danger">Eliminar Selección</button>
        </div>
        <div class="a">
            <div class="row align-items-end">
                <div class="col">
                    <div id="ediciones">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                    </div>
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewventa">
                        Añade un venta
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addnewventa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir venta</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="SKU">SKU</label>
                            <div class="d-flex align-items-center">
                                <select class="form-control" id="SKU" style="flex-grow: 1;">
                                    <!-- Las opciones se llenarán con JavaScript -->
                                </select>
                                <a href="/producto?openModal=true" id="link-svg">
                                    <img src="{% static 'images/plus.svg' %}" id="boton-producto" alt="Agregar" style="width: 24px; height: 24px; margin-left: 10px;" >
                                </a>
                            </div>
                        </div>      
                        <div class="mb-3">
                            <label>Medio de pago</label>
                            <input type="text" id="medio_de_pago" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Nombre producto</label>
                            <input type="text" id="nombre_producto" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Precio unitario</label>
                            <input type="number" id="precio_unitario" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Cantidad</label>
                            <input type="number" id="cantidad" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>IVA</label>
                            <input type="number" id="iva" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Numero boleta</label>
                            <input type="number" id="numero_boleta" class="form-control"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" id="submit">Guardar cambios</button>
                </div>
              </div>
            </div>
        </div>
        <table id="table" summary="tabla venta" class="table table-bordered table-hover dt-responsive">
            <thead>    
            <tr class="listado">   
                <th> SKU </th>
                <th> METODO DE PAGO </th>     
                <th> NOMBRE PRODUCTO</th>
                <th> PRECIO UNITARIO </th>
                <th> CANTIDAD </th>  
                <th> IVA </th>
                <th> NUMERO DE BOLETA </th>
                <th> SEL </th>
            </tr>
            </thead>
            <tbody>        
                {% for venta in ventas %}
                <tr class="listado">
                    <td>{{ venta.SKU }}</td>
                    <td class="editable" data-sku="{{ venta.SKU }}" data-type="medio_de_pago">{{ venta.medio_de_pago }}</td>
                    <td class="editable" data-sku="{{ venta.SKU }}" data-type="nombre_producto">{{ venta.nombre_producto }}</td>
                    <td class="editable" data-sku="{{ venta.SKU }}" data-type="precio_unitario">{{ venta.precio_unitario }}</td>
                    <td class="editable" data-sku="{{ venta.SKU }}" data-type="cantidad">{{ venta.cantidad }}</td>
                    <td class="editable" data-sku="{{ venta.SKU }}" data-type="iva">{{ venta.iva }}</td>
                    <td class="editable" data-sku="{{ venta.SKU }}" data-type="numero_boleta">{{ venta.numero_boleta }}</td>
                    <td>
                        <input type="checkbox" data-sku="{{ venta.SKU }}" name="seleccionar" id="seleccionar">
                    </td>
                </tr> 
                {% endfor %}    
            </tbody>
        </table>
        <script type='module' src='{% static "js/tablas.js" %}'></script>
        <script type='module' src='{% static "js/venta.js" %}'></script>
    </div>
{% endblock %}