{% load static%}    
{% include "base.html" %}
{% block content %}
    <div id="tablas-css">
        <link type="text/css" href='{% static "css/tablas.css" %}' rel="stylesheet"/>
        <div id="titulo-modelo">
            <h1>VENTAS</h1>
        </div>
        <div class="col d-grid gap-2 d-md-flex">
            <button id="eliminar-seleccion" type="button" class="btn btn-danger">Eliminar Selección</button>
        </div>
        <div class="a">
            <div class="row align-items-end">
                <div class="col">
                    <div id="ediciones">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                    </div>
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewventa">
                        Añade un venta
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addnewventa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir venta</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>Pedido</label>
                            <input type="text" id="pedido" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Comprador</label>
                            <input type="text" id="comprador" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Venta total</label>
                            <input type="number" id="venta_total" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Flete</label>
                            <input type="number" id="flete" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label>Fecha de la boleta</label>
                            <input type="date" id="fecha_boleta" class="form-control"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" id="submit">Guardar cambios</button>
                </div>
              </div>
            </div>
        </div>
        <table id="table" summary="tabla venta" class="table table-bordered table-hover dt-responsive">
            <thead>    
            <tr class="listado">   
                <th> Pedido </th>     
                <th> Comprador</th>
                <th> Venta total </th>
                <th> Flete </th>  
                <th> Fecha de la boleta </th>
                <th> Pago </th>
                <th> SEL</th>
            </tr>
            </thead>
            <tbody>        
                {% for venta in ventas %}
                <tr class="listado">
                    <td>{{ venta.pedido }}</td>
                    <td class="editable" data-pedido="{{ venta.pedido }}" data-type="comprador">{{ venta.comprador }}</td>
                    <td class="editable" data-pedido="{{ venta.pedido }}" data-type="venta_total">{{ venta.venta_total }}</td>
                    <td class="editable" data-pedido="{{ venta.pedido }}" data-type="flete">{{ venta.flete }}</td>
                    <td class="editable" data-pedido="{{ venta.pedido }}" data-type="fecha_boleta">{{ venta.fecha_boleta }}</td>
                    <td class="noteditable" data-pedido="{{ venta.pedido }}" data-type="pago">{{ venta.pago }}</td>
                    <td>
                        <input type="checkbox" data-pedido="{{ venta.pedido }}" name="seleccionar">
                    </td>
                </tr> 
                {% endfor %}    
            </tbody>
        </table>
        <script type='text/javascript' src='{% static "js/venta.js" %}'></script>
    </div>
{% endblock %}