{% load static %}
<!--En este archivo HTML se crea la barra de navegación (navbar), la cual será heredada en todas las páginas. En ella se encontrarán botones esenciales para el usuario.-->
<!DOCTYPE html>
<html>
    <link type="text/css" href='{% static "css/navbar.css" %}' rel="stylesheet"/>
    <body>
        <ul id="puntos_navbar">
            <!--Imagen del logo.-->
            <a class="logo" href="/">
                <img class="site-logo" src="{% static 'images/logo.png' %}" alt="Logo" width="160" height="50" role="presentation">
            </a>
            <!--Barra de busquedad.-->


            <li id="search-container">
                <form id="search-form" onsubmit="redirectToPage(event)">
                    <select class="form-control" id="search-input" placeholder="Buscar Módulo" onchange="redirectToPage()">
                        <option value="">Seleccionar Módulo</option>
                        <option value="proveedor">Proveedores</option>
                        <option value="producto">Productos</option>
                        <option value="venta">Ventas</option>
                        <option value="Inventario_Y_Stock">Stock</option>
                        <option value="cliente">Clientes</option>
                        <option value="compra_proveedor">Compras</option>
                    </select>
                </form>
            </li>
            

            
            {% comment "Este es un comentario en Django Template" %}
                <p>Este contenido está comentado y no será mostrado en el navegador.</p>
            {% endcomment %}
            <!--Botón de notificaciones.-->
            <li class="notificacion-con-burbuja">
                {% if notificaciones_activas %}
                    <img id="burbuja" src="{% static 'images/notification-circlesvg.svg' %}" alt="Logo" width="160" height="50" role="presentation"/>
                {% endif %}
                <a href="" class="notifications-button" id="notifications-button">
                    <img class="site-logo" src="{% static 'images/notificaciones.svg' %}" alt="Logo" width="160" height="50" role="presentation">
                </a>
                <div id="notifications-dropdown" class="notifications-dropdown" >
                    <ul> 
                        <span id="titulo-notificacion">Inventario Insuficiente ultimos 7 días</span>
                        
                        {% if notificaciones_activas %}
                            {% for notificacion in notificaciones_activas %}
                                <li>ID inventario {{ notificacion.id_inventario.id_inventario }}</li>
                            {% endfor %}
                        {% else %}
                            <li>No tienes notificaciones activas</li>
                        {% endif %}
                        <!-- Botón para ver todas las notificaciones, fuera del bloque if -->
                        <li class="view-all-notifications">
                            <a href="/notificaciones">Ver todas las notificaciones</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!--Botón de cierre de sesión.-->
            <li>
                <a href="{% url 'salir' %}" class="logout-button">
                    <img class="site-logo" src="{% static 'images/Log_Out_Buton.png' %}" alt="Logo" width="160" height="50" role="presentation">
                </a>
            </li>
        </ul>
        <script type='text/javascript' src='{% static "js/navbar.js" %}'></script>

        <script>
            function redirectToPage() {
                var selectedValue = document.getElementById('search-input').value;
                if (selectedValue) {
                    window.location.href = '/' + selectedValue;
                }
            }
        </script>

    </body>
</html>
