{% load static %}    
{% include "base.html" %}
<!-- En este archivo HTML se crea la tabla de ventas, la cual será heredada en la página de ventas. En ella se encontrarán las ventas que se encuentran en la base de datos. -->
{% block content %}
    <!-- Mensajes de error o éxito. -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-3">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div id="tablas-css">
        <link type="text/css" href='{% static "css/tablas.css" %}' rel="stylesheet"/>
        <div id="titulo-modelo">
            <h1>VENTAS</h1>
            <button type="button" id="boton-adicional">
                <img src="{% static 'images/refresh.svg' %}" alt="Acción"/>
        </div>
        <!-- Aqui se crea la nueva tabla con el resumen -->
        <div>
            <table id="totals-table" class="table table-bordered table-hover ">
                <thead class="table-light">
                    <tr>
                        <th scope="col">CANTIDAD TOTAL</th>
                        <th scope="col">VENTAS TOTALES</th>
                        <th scope="col">COSTO ENVIOS TOTALES</th>
                        <th scope="col">PAGO TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cantidad-total" data-value="{{ cantidad_totales }}">{{ cantidad_totales }}</td>
                        <td class="ventas-totales" data-value="{{ ventas_totales }}">{{ ventas_totales }}</td>
                        <td class="fletes-totales" data-value="{{ fletes_totales }}">{{ fletes_totales }}</td>
                        <td class="pago-total" data-value="{{ pago_total }}">{{ pago_total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Formulario para subir el archivo Excel -->
        <div class="row mb-3">
            <div class="col-md-4">
                <form method="POST" enctype="multipart/form-data" action="{% url 'upload_excel_ventas' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="file" class="form-label">Subir archivo Excel:</label>
                        <input type="file" name="file" class="form-control" accept=".xlsx, .xls" required>
                    </div>
                    <div class="d-flex" style="gap: 5px;">
                        <button type="submit" class="btn btn-primary">Subir archivo</button>
                        <a href="{% static 'xlsx/ventas.xlsx' %}" class="btn btn-outline-success">Descargar Formato de Excel</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Botón para eliminar. -->
        <div class="col d-grid gap-2 d-md-flex">
            <button id="eliminar-seleccion" type="button" class="btn btn-danger">Eliminar Selección</button>
        </div>
        <!-- Contenedor principal con opciones de edición y añadir producto. -->
        <div class="a">
            <div class="row align-items-end">
                <div class="col">
                    <div id="ediciones">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                    </div>
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewventa">
                        Añadir una venta
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal para añadir nueva venta -->
        <div class="modal fade" id="addnewventa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir venta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label>Pedido</label>
                                <input type="text" id="pedido" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label>Comprador</label>
                                <div class="d-flex align-items-center">
                                    <select class="form-control" id="rut" style="flex-grow: 1;">
                                        <!-- Las opciones se llenarán con JavaScript -->
                                    </select>
                                    <a href="/cliente?openModal=true" id="link-svg">
                                        <img src="{% static 'images/plus.svg' %}" id="boton-producto" alt="Agregar" style="width: 24px; height: 24px; margin-left: 10px;">
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="SKU">SKU</label>
                                <div class="d-flex align-items-center">
                                    <select class="form-control" id="SKU" style="flex-grow: 1;">
                                        <!-- Las opciones se llenarán con JavaScript -->
                                    </select>
                                    <a href="/producto?openModal=true" id="link-svg">
                                        <img src="{% static 'images/plus.svg' %}" id="boton-producto" alt="Agregar" style="width: 24px; height: 24px; margin-left: 10px;">
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Precio unitario</label>
                                <input type="number" id="precio_unitario" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label>Cantidad</label>
                                <input type="number" id="cantidad" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label>Venta total</label>
                                <input type="number" id="venta_total" class="form-control" disabled/>
                            </div>
                            <div class="mb-3">
                                <label>Flete</label>
                                <input type="number" id="flete" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label>Factura o Boleta</label>
                                <input type="text" id="factura_o_boleta" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label>Fecha de la boleta</label>
                                <input type="date" id="fecha_boleta" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label>Pago</label>
                                <input type="text" id="pago" class="form-control" disabled/>
                            </div>
                        </form>
                    </div>
                    <!-- Botones para guardar o cancelar. -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="submit">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inicio de la tabla. -->
        <table id="table" summary="tabla venta" class="table table-bordered table-hover dt-responsive">
            <thead>
            <!-- Encabezados. -->
            <tr class="listado">
                <th> ID </th>
                <th> PEDIDO </th>
                <th> COMPRADOR </th>
                <th> SKU </th>
                <th> PRECIO UNITARIO </th>
                <th> CANTIDAD </th>
                <th> VENTA TOTAL </th>
                <th> FLETE </th>
                <th> FECHA BOLETA </th>
                <th> FACTURA/BOLETA </th>
                <th> PAGO </th>
                <th> SEL </th>
            </tr>
            </thead>
            <tbody>
                <!-- Ciclo para llenar la tabla con los datos de la base de datos. -->
                {% for venta in ventas %}
                <tr class="listado">
                    <td>{{ venta.id }}</td>
                    <td>{{ venta.pedido }}</td>
                    <td>{{ venta.rut }}</td>
                    <td>{{ venta.SKU }}</td>
                    <td class="editable" data-id="{{ venta.id }}" data-type="precio_unitario">{{ venta.precio_unitario }}</td>
                    <td class="editable" data-id="{{ venta.id }}" data-type="cantidad">{{ venta.cantidad }}</td>
                    <td>{{ venta.venta_total }}</td>
                    <td class="editable" data-id="{{ venta.id }}" data-type="flete">{{ venta.flete }}</td>
                    <td class="editable" data-id="{{ venta.id }}" data-type="fecha_boleta">{{ venta.fecha_boleta }}</td>
                    <td class="editable" data-id="{{ venta.id }}" data-type="factura_o_boleta">{{ venta.factura_o_boleta }}</td>
                    <td>{{ venta.pago }}</td>
                    <td>
                        <input type="checkbox" data-id="{{ venta.id }}" name="seleccionar">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type='text/javascript' src='{% static "js/venta.js" %}'></script>
    </div>
{% endblock %}
